:root {
    --color-accent: antiquewhite;
    accent-color: var(--color-accent);
    /* background-color: antiquewhite; */
    background-color: oklch(from var(--color-accent) 95% 5% h);
}

body { 
    /* Set line height to 1.5 times the font size
       and use the 0S's UI font as the website font */
    font: 100%/1.5 system-ui;
    /* max-width: 1000ch; */
    margin-inline: auto;
    /* margin-inline: max(1 em, (100% - 100ch) /2); */
    /* display: contents; */
    padding-left: 5ch; 
    padding-right: 5ch;
    background-color: antiquewhite;
    /* border-bottom: 100ch;
    border-bottom-color: burlywood ;       */
}

h1{
    border-bottom: 5px;
    border-bottom-color: rgb(167, 152, 133);
    border-bottom-style: solid;
    color:rgb(63, 13, 13);
}

nav{
    display: flex;
    padding-left: 1%;
    margin-bottom: 1px;
    /* background-color: rgb(239, 239, 239); */
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
}

article{
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    padding-right: 5px;
    padding-left: 5px;

}

h2{
    margin: 0;
}

.resume{
    display: grid;
    grid-template-columns: auto 1fr;
    /* grid-column: span 1 / -1; */
}

.resume h3{
    color:rgb(151, 111, 62);
    margin-bottom:1%;
    font-size: larger;
    /* background-color: bisque; */
    background-color: rgb(255, 204, 136);
    
}

.resume li{
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 1em;
    
}

/* h1{
    width: 100%;
    border-bottom: 10ch;
    border-bottom-color: black;
    
} */

section{
    display: grid;
    grid-template-columns: subgrid;
    grid-column: span 1 / -1;
    border-bottom-color: rgb(176, 125, 125);
    border-bottom-style: solid;
    border-bottom-width: 5px;
}

a.current{
    padding-bottom: 0.1em;
    border-bottom-color:rgb(196, 155, 155);
    border-bottom-width: 0.3em;
    color: rgb(63, 13, 13);
    font-weight: bold;
}

a:hover{
    border-bottom-color: rgb(181, 101, 101);
    border-bottom-width: 0.3em;
    padding-bottom: 0.1em;
    background-color: rgb(255, 236, 212);
    font-weight: bold;
    color: brown;
}

a{
    flex: 1;
    text-decoration: none;
    color: rgb(129, 34, 34);
    text-align: center;
    padding: 0.5em;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(151, 137, 137);
}

img{
    max-width: 100%;
    /* border-color: chocolate;
    border-style: solid; */
    /* border-width: 5px; */
}

img:hover{
    filter: opacity(75%);
}

form{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
}

li{
    /* border-color: rgb(255, 188, 87);
    border-width: 5px;
    border-style: groove; */
    margin-bottom: 4px;
    padding: 10px;
    background-color: bisque;
    /* background-color: rgb(255, 204, 136); */
}

time{
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input{
    font:inherit;
    /* display:block;
    width: 100%;
    text-align: center; */
}

textarea{
    font:inherit;
    display: block;
    /* width: 100%;
    padding-bottom: 10ch;
    box-sizing: border-box; */
}

label{
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    /* display: block;
    text-align: left;
    box-sizing: border-box;
    margin-block: 10px; */
}
button{
    grid-column: 1 / -1;
    /* margin-top: 10px;
    width: 100%;
    box-sizing: border-box; */
}

.Education p{
    /* grid-column: span 1 / -1; */
    /* background-color: rgb(253, 216, 167); */
    padding: 1ch;
    background-color: rgb(249, 204, 149);
    margin: 0px;

}

.Relevant_Experience p{
    padding: 1ch;
    background-color: rgb(249, 204, 149);
    margin:0px;
}

.Academic_Projects p {
    padding: 1ch;
    background-color: rgb(249, 204, 149);
    margin:0px;    
} 

.Community_Leadership p{
    padding: 1ch;
    background-color: rgb(249, 204, 149);
    margin:0px; 
}

p{
    font:inherit;
    display: block;
    /* text-align: center; */
}




